html {
  --link-active: #00acdc;
}

.roboto-medium {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

.nav-list {
  list-style: none;
  padding-inline-start: 0;
}

.nav {
  align-items: center;
  height: 60px;
}

.nav,
.nav-list,
.nav-item {
  display: flex;
}

.nav-item {
  text-transform: uppercase;
  position: relative;
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: black;
}


.nav-item:hover{
  color: var(--link-active);
}

.nav-item-wrapper:not(:first-child) {
  margin-left: 20px;
}

.logo {
  height: 40px;
}

.logo-link {
  display: flex;
  align-items: center;
}

.is-active {
  color: var(--link-active);
}

.is-active::after{
   content: '';
    background-color: var(--link-active);
    border: 2px solid var(--link-active);
    border-radius: 8px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
